html, body {
    height: 100%;
    overflow-x : hidden;
    background-color: #1a1c1d;
}

#screenDoor {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
}

.circleLeft {
    height: 50px;
    width: 75px;
    background-color: #0ef;
    border-radius: 50%;
    box-shadow: 0px 0px 10px 3px #0ef;
    transform: translate(0px, 0px) rotate(15deg);
}

#spacer{
    width: 20px;
}

.circleRight {
    height: 50px;
    width: 75px;
    background-color: #0ef;
    border-radius: 50%;
    box-shadow: 0px 0px 10px 3px #0ef;
    transform: translate(0px, 0px) rotate(-15deg);
}

.blackRow {
    height: 0px;
    box-shadow: 0px 0px 3px 1px #1a1c1d;
    opacity: 0.25;
}